.navbar-lewagon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  padding: 0px 24px;
}

.navbar-lewagon .navbar-lewagon-actions {
  display: flex;
  align-items: center;
}

.navbar-lewagon h3 {
  padding: 0px;
  margin-top: 8px;
  font-size: 24px;
  font-weight: lighter;
}
